
@{
    ViewData["Title"] = "Products";
}

<h1>Ürünler</h1>
<div class="row">
    <div class="col-md-8" id="divList">
        <div id="progress">
        <div class="table-responsive">

        <span id="catName"></span>
        <table class="table" id="tbProductList">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Marka</th>
                    <th>Adı</th>
                    <th>Açıklama</th>
                    <th>Fiyatı</th>
                    <th>Durumu</th>
                    <th>İşlemler</th>
                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>
        </div>
        </div>

    </div>

    <div class="col-md-4" id="divAddUpdate">
        <div class="card shadow mb-4">
        <div class="card-body">
        <h4 id="editHeader">Ürün Ekle</h4>
        <div class="b-2">
            <label>Ürün Markası</label>
            <input type="text" class="form-control" id="txtBrand" />
            <input type="hidden" id="txtId" />
        </div>
        <div class="b-2">
            <label>Ürün Adı</label>
            <input type="text" class="form-control" id="txtName" />
            <input type="hidden" id="txtId" />
        </div>
        <div class="b-2">
            <label>Ürün Açıklama</label>
            <input type="text" class="form-control" id="txtDes" />
            <input type="hidden" id="txtId" />
        </div>
        <div class="b-2">
            <label>Ürün Fiyatı</label>
            <input type="text" class="form-control" id="txtPrice" />

        </div>

        <div class="b-2">
            <label>Ürün Kategori</label>
            <select class="form-select" id="cbCategory">
            </select>

        </div>
        <div class="b-2">
            <input type="checkbox" class="form-check-inline" id="cbIsActive" />
            <label>Aktif</label>
        </div>
        <div class="mb-2">
            <button class="btn btn-outline-primary btn-sm" id="btnSave">Kaydet</button>
            <button class="btn btn-outline-primary btn-sm" id="btnEdit">Düzenle</button>
            <button class="btn btn-outline-danger btn-sm" id="btnDelete">Sil</button>
            <button class="btn btn-outline-secondary btn-sm" id="btnCancel">Vazgeç</button>
        </div>

        <div id="result"></div>
        </div>
        </div>

    </div>
</div>

@section Scripts{
            <script>
                $(document).ready(function () {
                    var ApiBaseUrl = "@ViewBag.ApiBaseUrl";
                    var catId = "@ViewBag.CatId";
                    ProductList();
                    AltCategoriList();
                    AltCategoryById();
                    $("#btnEdit").hide();
                    $("#btnDelete").hide();
                    $(".addproduct").hide();


                    function AltCategoriList() {
                        $.ajax({
                            url: ApiBaseUrl + "AltCategories",
                            method: "GET",
                            headers: {
                                "Authorization": "Bearer " + token
                            },
                            contentType: "application/json",
                            success: function (data) {
                                var opt = "";
                                $("#cbCategory").empty();
                                $.each(data, function (i, item) {

                                    if (catId == item.id) {
                                        opt = '<option value="' + item.id + '" selected>' + item.name + '</option>';
                                    } else {
                                        opt = '<option value="' + item.id + '">' + item.name + '</option>';
                                    }

                                    $("#cbCategory").append(opt);
                                });

                            },
                            error: function () { }
                        });
                    }
                    function AltCategoryById() {
                        $.ajax({
                            url: ApiBaseUrl + "AltCategories/" + catId,
                            method: "GET",
                            headers: {
                                "Authorization": "Bearer " + token
                            },
                            contentType: "application/json",
                            success: function (data) {
                                $("#catName").html("<b>" + data.name + "<b>");
                            },
                            error: function () { }
                        });
                    }
                    function ProductList() {
                        $.ajax({
                            url: ApiBaseUrl + "AltCategories/" + catId + "/Products",
                            method: "GET",
                            headers: {
                                "Authorization": "Bearer " + token
                            },
                            contentType: "application/json",
                            success: function (data) {
                                ProductListToTable(data);
                            },
                            error: function () { }
                        });
                    }
                    function ProductListToTable(data) {
                        $("#tbProductList tbody").empty();
                        var tr = '';
                        $.each(data, function (i, item) {
                            var bg = item.isActive ? 'bg-success' : 'bg-danger';

                    tr += '<tr><td>' + item.id + '</td><td>' + item.brandName + '</td><td>' + item.name + '</td><td>' + item.description + '</td><td>' + item.price + '</td><td><span class="badge ' + bg + '">' + (item.isActive ? 'Aktif' : 'Pasif') + '</span></td><td><button class="btn btn-outline-primary btn-sm edit" id=' + item.id + '>Düzenle</button><a href="#" class="btn btn-outline-primary btn-sm addproduct ">Sepete Ekle</a></td></tr>'
                        });

                        

                        $("#tbProductList tbody").append(tr);
                        if (!userRoles.includes("Admin")) {
                            $("#divAddUpdate").hide();
                            $("#divList").removeClass("col-md-8").addClass("col-md-12");
                            $(".edit").hide();
                            if (item.isActive) {
                                $(".addproduct").show();
                            }
                            else{
                                $(".addproduct").hide();
                            }
                            
                            
                    
                        }
                    }
                    function FormatDate(d) {
                        var date = new Date(d);
                        var day = date.getDate() > 9 ? date.getDate() : '0' + date.getDate();
                        var mount = date.getMonth() > 9 ? date.getMonth() : '0' + date.getMonth();
                        var year = date.getFullYear();

                        var hour = date.getHours() > 9 ? date.getHours() : '0' + date.getHours();
                        var minute = date.getMinutes() > 9 ? date.getMinutes() : '0' + date.getMinutes();
                        var second = date.getSeconds() > 9 ? date.getSeconds() : '0' + date.getSeconds();

                        var fd = day + "." + mount + "." + year + " " + hour + ":" + minute + ":" + second;
                        return fd
                    }


                    $("#btnSave").click(function () {
                        var name = $("#txtName").val();
                        var brandName = $("#txtBrand").val();
                        var description = $("#txtDes").val();
                        var price = $("#txtPrice").val();
                        var altCategoryId = $("#cbCategory").val();
                        var isActive = $("#cbIsActive").is(":checked");
                        var product = new Object();
                        product.Name = name;
                        product.BrandName = brandName;
                        product.Description = description;
                        product.Price = price;
                        product.AltCategoryId = altCategoryId;
                        product.IsActive = isActive;

                        $.ajax({
                            url: ApiBaseUrl + "Products",
                            method: "POST",
                            headers: {
                                "Authorization": "Bearer " + token
                            },
                            data: JSON.stringify(product),
                            contentType: "application/json",
                            success: function (data) {
                                $("#result").show();
                                if (data.status) {
                                    $("#result").removeClass().addClass("alert alert-success");
                                    ProductList();
                                }
                                else {
                                    $("#result").removeClass().addClass("alert alert-danger");
                                }
                                $("#result").html(data.message);
                                $("#result").fadeOut(3000);
                            },
                            error: function () { }
                        });

                    });
                    $(document).on("click", ".edit", function () {
                        var id = $(this).attr("id");
                        $.ajax({
                            url: ApiBaseUrl + "Products/" + id,
                            method: "GET",
                            headers: {
                                "Authorization": "Bearer " + token
                            },
                            contentType: "application/json",
                            success: function (data) {
                                $("#txtId").val(data.id);
                                $("#txtName").val(data.name);
                                $("#txtBrand").val(data.brandName);
                                $("#txtDes").val(data.description);
                                $("#txtPrice").val(data.price);
                                $("#cbCategory").val(data.altCategoryId);
                                $("#cbIsActive").prop("checked", data.isActive);

                                $("#btnEdit").show();
                                $("#btnDelete").show();
                                $("#btnSave").hide();

                                $("#editHeader").html("Ürün Düzenle - Sil");
                            },
                            error: function () { }
                        });


                    });


                    $("#btnCancel").click(function () {
                        $("#txtId").val("");
                        $("#txtName").val("");
                        $("#txtBrand").val("");
                        $("#txtDes").val("");
                        $("#cbIsActive").prop("checked", false);
                        $("#btnEdit").hide();
                        $("#btnDelete").hide();
                        $("#btnSave").show();
                        $("#editHeader").html("Ürün Ekle");

                    });


                    $("#btnEdit").click(function () {

                        var id = $("#txtId").val();
                        var name = $("#txtName").val();
                        var brandName = $("#txtBrand").val();
                        var description = $("#txtDes").val();
                        var price = $("#txtPrice").val();
                        var altCategoryId = $("#cbCategory").val();
                        var isActive = $("#cbIsActive").is(":checked");
                        var product = new Object();
                        product.Id = id;
                        product.Name = name;
                        product.BrandName = brandName;
                        product.Description = description;
                        product.Price = price;
                        product.AltCategoryId = altCategoryId;
                        product.IsActive = isActive;

                        $.ajax({
                            url: ApiBaseUrl + "Products",
                            method: "PUT",
                            headers: {
                                "Authorization": "Bearer " + token
                            },
                            data: JSON.stringify(product),
                            contentType: "application/json",
                            success: function (data) {
                                $("#result").show();
                                if (data.status) {
                                    $("#result").removeClass().addClass("alert alert-success");
                                    ProductList();
                                }
                                else {
                                    $("#result").removeClass().addClass("alert alert-danger");
                                }
                                $("#result").html(data.message);
                                $("#result").fadeOut(3000);
                            },
                            error: function () { }
                        });


                    });

                    $("#btnDelete").click(function () {
                        console.log("sil");
                        var id = $("#txtId").val();
                        $.ajax({
                            url: ApiBaseUrl + "Products/" + id,
                            method: "DELETE",
                            headers: {
                                "Authorization": "Bearer " + token
                            },
                            contentType: "application/json",
                            success: function (data) {
                                $("#result").show();
                                if (data.status) {
                                    $("#result").removeClass().addClass("alert alert-success");
                                    ProductList();
                                }
                                else {
                                    $("#result").removeClass().addClass("alert alert-danger");
                                }
                                $("#result").html(data.message);
                                $("#result").fadeOut(3000);
                            },
                            error: function () { }
                        });


                    });
                });
            </script>
}


