@{
    ViewData["Title"] = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sepetim</h1>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover" id="tbProductList">
            <thead>
                <tr>
                    <th>Ürün Adı</th>
                    <th>Fiyat</th>
                    <th>Adet</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var ApiBaseUrl = "@ViewBag.ApiBaseUrl";
            

            ProductList();

            function ProductList() {
                $.ajax({
                    url: ApiBaseUrl + "ShoppingCart",
                    method: "GET",
                    headers: {
                        "Authorization": "Bearer " + token
                    },
                    contentType: "application/json",
                    success: function (data) {
                        $("#tbProductList tbody").empty();
                        // Her ürün için detayları al ve tabloyu doldur
                        $.each(data, function (i, item) {
                            getProductDetails(item);
                        });
                    },
                    error: function () {
                        console.error("Ürün listesi alınırken hata oluştu");
                    }
                });
            }

            function getProductDetails(cartItem) {
                $.ajax({
                    url: ApiBaseUrl + "Products/" + cartItem.productId,
                    method: "GET",
                    headers: {
                        "Authorization": "Bearer " + token
                    },
                    contentType: "application/json",
                    success: function (product) {
                        addProductToTable(cartItem, product);
                    },
                    error: function () {
                        console.error("Ürün detayları alınırken hata oluştu");
                    }
                });
            }

            function addProductToTable(cartItem, product) {
                var tr = '<tr>';
                tr += '<td>' + product.name + '</td>'; // product.name doğru mu kontrol et
                tr += '<td>' + product.price + '</td>'; // product.price doğru mu kontrol et
                tr += '<td>' + cartItem.quantity + '</td>';
                tr += '<td><a class="btn btn-outline-primary btn-sm delete" data-id="' + cartItem.id + '">Sepetten Kaldır<i class="fa fa-shopping-basket"></i></a></td>';
                tr += '</tr>';

                $("#tbProductList tbody").append(tr);
            }

            $(document).on("click", ".delete", function () {
                var id = $(this).data("id");
                $.ajax({
                    url: ApiBaseUrl + "ShoppingCart/" + id,
                    method: "DELETE",
                    headers: {
                        "Authorization": "Bearer " + token
                    },
                    contentType: "application/json",
                    success: function (data) {
                        if (data.status) {
                            ProductList();
                            $("#result").removeClass().addClass("alert alert-success").html(data.message).fadeOut(3000);
                            
                        } else {
                            $("#result").removeClass().addClass("alert alert-danger").html(data.message).fadeOut(3000);
                        }
                    },
                    error: function () {
                        console.error("Ürün silinirken hata oluştu");
                    }
                });
            });
        });
    </script>
}
